@import "../../theme/variables.scss";

.loginPage {
  max-width: 1070px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  .loginWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 70px 45px 45px 45px;
    border: 1px solid $login-window-border;
    min-height: 600px;
    min-width: 500px;
    max-width: 500px;
    background: #fff;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    .logoWrapper {
      text-align: center;
      padding-bottom: 90px;
    }
    .formWrapper {
      .inputWrapper {
        margin-bottom: 20px;
        height: 30px;
        input {
          width: 100%;
          height: 100%;
          border: 0;
          background: 0;
          outline: none;
          border-bottom: 1px solid $input-border;
          font-size: 16px;
        }
      }
      .btnBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .forgotPassword {
          font-family: "GothamProLight";
          color: #1f4690;
          font-size: 16px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .loginBtn {
          font-family: "GothamProBold";
          border: 1px solid $btn-login;
          outline: none;
          background-color: $btn-login;
          padding: 15px 25px;
          color: #fff;
          cursor: pointer;
          text-transform: uppercase;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          &:hover {
            color: $btn-login;
            background: #fff;
          }
        }
      }
    }
  }
}
